<div class="header">
  <h1>Task Manager</h1>
  <p>Manage tasks as per your convenience</p>
</div>

<div class="topnav">
  <a href="/createTask">Create Task</a>
  <a href="/task">View Tasks</a>

</div>